h1, h2 {
    color: lightgray;
    font-family: Verdana;
    text-align: center;
    text-shadow: 2px 2px gray;
}

h3, ol, td {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 50px;
    line-height: 25px;
    ;
}

a:link, a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}

a:hover {
    background-color: rgba(255, 255, 255, 0.548);
}

footer {
    color: rgb(85, 85, 85);
}

table {
    width: 1450px; height: 700px; float: left;
}

nav {
    color: gray;
    text-decoration: none;
    background-color: black;
} 