.title {
    color: #1D84B5;
}

.subtitle {
    color: #2589BD;
}

.text {
    color: #53A2BE;
}

.copyright {
    color: #00BFB2;
}

.nav {
    color: #6083FF;
}

.table_head {
    color: #00A5CF;
}

a:visited {
    color: #6073FF;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    color: #7B00FF;
    text-decoration: underline;
    background-color: #370072;
}
