h1 {
    color: cyan;
    background-color: darkblue;
    margin-right: 17.9em;
    margin-left: 17em;
}

p {
    color: cyan;
    background-color: darkblue;
    margin-right: 25em;
    margin-left: 26.5em;
}

.enter-a-guess {
    color: cyan;
    background-color: darkblue;
    margin-left: 22.5em;
}

body {
    background-image: url("Marvel.gif");
    background-repeat: no-repeat;
    background-size: cover;
}